html {
    height: 100%;
}

body {
    background-color: #9440EE;
    height: 100%;
}

.flex-container__item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-item {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.nav-1 {
    width: 20%;
    display: flex;
    justify-content: center;
}